body {
	display: flex;
	flex: 1;
    justify-content: center;
    align-items: center;
    height: 100vh;
	background-color: #000000;
	flex-direction: column;
}
#calculator {
	display: flex;
	flex-direction: column;
	width: 350px;
	padding: 15px;
    background-color: #1a4158;
    border-radius: 12px;
	box-shadow: rgba(255, 255, 255, 0.4) -5px 5px, rgba(255, 255, 255, 0.3) -10px 10px, rgba(255, 255, 255, 0.2) -15px 15px, rgba(255, 255, 255, 0.1) -20px 20px, rgba(255, 255, 255, 0.05) -25px 25px;
	margin-bottom: 20px;
}
p.title {
	text-align: center;
    margin-top: 0;
    color: #FFF;
    text-transform: uppercase;
	font-family: 'Bebas Neue', cursive;
}
#display {
	font-family: 'Press Start 2P', cursive;
	height: 50px;
	display: flex;
	justify-content: flex-end;
	font-size: 30px;
	border-radius: 10px;
	background-color: #000;
	color: #FFFFFF;
	align-items: center;
	padding-right: 20px;
	margin-bottom: 20px;
	text-align: right;
}
#bottom {
	display: flex;
}
#holder {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap:10px;
	justify-content: space-evenly;
	margin-bottom: 10px;
}
.number, .operator {
	width: 75px;
	height: 75px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-family: 'Bebas Neue', cursive;
	font-size: 20px;
}
.number:hover, .operator:hover,#clear:hover {
	opacity: .8;
}
.number {
	background-color: #ccc;
}
.operator {
	background-color: rgb(1, 136, 247);
}
#equal {
	background-color: rgb(1, 136, 247);
	height: 75px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	flex-grow: 1;
	font-family: 'Bebas Neue', cursive;
	font-size: 39px;
}
.delete > i {
	pointer-events: none;
}
#clear {
	width: 75px;
	height: 75px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-color: red;
	font-weight: bold;
	flex-grow: 0;
	font-family: 'Bebas Neue', cursive;
	font-size: 20px;
}
#bottomButtons {
	display: flex;
	gap:10px;
}
.footer img {
	margin: 0 10px;
	width: 25px;
}
.footer a, .footer {
	font-family: 'Bebas Neue', cursive;
	font-size: 16px;
	color: #FFF;
	text-decoration: none;
}